    <title>Bacon Title - Is important</title>
    <meta name="description" content="Your description">
    <meta name="keywords" content="nice keywords, comma splitted">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <style type="text/css" media="all">
      <% include ../../public/stylesheets/main.css %>
    </style>
