<!DOCTYPE html>
<html dir="ltr" lang="en-US">
  <head>
    <% include partials/head.ejs %>
  </head>
  <body>
    <% include partials/navigation.ejs %>
    <article class="bacon">
      <h1 class="bacon__tile">Important Heading</h1>
      <p class="bacon__copywrite">Bacon ipsum dolor amet leberkas short loin tri-tip porchetta chicken turducken. Spare ribs pig jowl, bresaola ball tip porchetta sirloin t-bone. Cupim swine ham hock meatloaf, strip steak filet mignon beef shoulder. Salami corned beef cupim, prosciutto doner rump kevin turducken swine shank ball tip.</p>
      <p class="bacon__copywrite">Dynamic Content: 1 + 1 = <span class="js-compute-value"></span></p>
    </article>
    <script charset="utf-8">
      var elements = document.getElementsByClassName('js-compute-value');
      elements[0].innerHTML = '2';
    </script>
  </body>
</html>
